#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.devs{
  display:flex;
  flex-direction: column;
  align-items: center;
  position:fixed;
  top:90%;
  left:95%;
}