
.tw-follow-card{
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
 
}

.tw-follow-card-header{
  display: flex;
  align-items: center;
  gap: 4px
}

.tw-follow-card-div{
  display:flex;
  flex-direction: column;
}

.tw-follow-card-span{
  opacity: .6;
}

.tw-follow-card-img{
  height:50px;
  width:50px;
  padding:16px;
  border-radius: 999px;
}

.tw-follow-card-button{
  margin-left: 16px;
  border:0;
  background-color: white;
  border-radius: 50px;
  font-weight: bold;
  padding:6px 16px;
  cursor: pointer;
}

.tw-follow-card-button:hover {
  opacity: .8;
}

.tw-follow-card-button:active {
  background-color: #f3f3f3;
}
